/* style.css - Projeto Impulso Social */
* { box-sizing: border-box; }
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #222;
}
header {
  background-color: #2E8B57;
  color: white;
  padding: 1rem 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
banner{
  width: 200px;
  height: 200px;
}
main { padding: 1.5rem; max-width: 980px; margin: 0 auto; }
h1, h2 { color: #2E8B57; }
footer { background: #222; color: #fff; text-align: center; padding: 1rem 0; margin-top: 2rem; }
form { max-width: 700px; margin: 0 auto; }
fieldset { border: 1px solid #ccc; padding: 1rem; margin-bottom: 1rem; }
label { display: block; margin-bottom: .3rem; }
input, select, button, textarea { width: 100%; padding: .5rem; margin-bottom: .8rem; }
button { background: #2E8B57; color: white; border: none; padding: .7rem; cursor: pointer; }
button:hover { background: #246b45; }
img { max-width: 100%; height: auto; display: block; margin: .5rem 0; }
